<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Active/InActive Users
  </h1>
</div>
<div class="App-panel">

  <wj-flex-grid [allowResizing]="'Both'" [autoSizeMode]="'Both'" [quickAutoSize]="true" [selectionMode]="'RowRange'" [itemsSource]="data1"
    [autoGenerateColumns]="false">
    <wj-flex-grid-column [header]="'ID'" [binding]="'id'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'FullName'" [binding]="'name'" [quickAutoSize]="true" [format]="'n2'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Email'" [binding]="'email'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'BirthDate'" [binding]="'dateOfBirth'" [dataType]="'Date'" format="MM/dd/yyyy"></wj-flex-grid-column>

    <wj-flex-grid-column [header]="'Phone'" [binding]="'phone'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Website'" [binding]="'website'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Active'" [binding]="'active'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Percent'" [binding]="'percent'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'CashOnHand'" [binding]="'cashOnHand'"></wj-flex-grid-column>


  </wj-flex-grid>

</div>

<router-outlet></router-outlet>
