html, body { height: 100%; }
body {
  background-color: #f8f8f8;
  font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  padding: 0 0 10px;
}
.App-panel {
    margin: auto;
    text-align: center;
    background: gray;
  }
    .App-panel .wj-control {
      display: inline-block;
      width: auto;
      height: auto;
      vertical-align: top;
      background: #8c8c8c;
    }

    .wj-flexgrid {
      background-color: #fff;
      box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
      height: auto;
      margin-bottom: 12px;
  }
  .select {
    margin: 10px;
  }
  h1 {
    color:rgb(25, 56, 70);
  }
@media (min-width: 600px) {
  .App-panel .wj-control {
    display: block;

  }
}

