<div style="text-align:center">
  <h1>
    Active / InActive Users
  </h1>
  <button class="select mat-primary" mat-raised-button (click)="selectActive()">
    Set as Active
  </button>
  <button class="select mat-warn" mat-raised-button (click)="selectInActive()">
    Set as InActive
  </button>
  <mat-checkbox (click)="showInActive()">Show inactive</mat-checkbox>
</div>


<div class="App-panel">


  <wj-flex-grid #flex class="App-panel_grid" headersVisibility="Column" [autoSizeMode]="'Both'" isSelected="true" [quickAutoSize]="true"
    [selectionMode]="'RowRange'" [itemsSource]="data1" [autoGenerateColumns]="false">

    <wj-flex-grid-column [isReadOnly]="true" header="ID" binding="id"></wj-flex-grid-column>
    <wj-flex-grid-column header="FullName" binding="name" width="*"></wj-flex-grid-column>
    <wj-flex-grid-column header="Email" binding="email"></wj-flex-grid-column>
    <wj-flex-grid-column header="BirthDate" binding="dateOfBirth" [dataType]="'Date'" format="MM/dd/yyyy"></wj-flex-grid-column>

    <wj-flex-grid-column header="Phone" binding="phone"></wj-flex-grid-column>
    <wj-flex-grid-column header="Website" binding="website"></wj-flex-grid-column>
    <wj-flex-grid-column header="Active" binding="active"></wj-flex-grid-column>

    <wj-flex-grid-column header="Percent" binding="percent" format="p2"></wj-flex-grid-column>
    <wj-flex-grid-column header="CashOnHand" binding="cashOnHand" format="c"></wj-flex-grid-column>


  </wj-flex-grid>

</div>
<form>
  <mat-form-field class="form-control">
    <input matInput name="filter" placeholder="Filter" [(ngModel)]="filter">
  </mat-form-field>
</form>
