/* You can add global styles to this file, and also import other style files */
@import "wijmo/styles/wijmo.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.App-panel {
    margin: auto;
    text-align: center;
  }
    .App-panel .wj-control {
      display: inline-block;
      width: auto;
      height: auto;
      vertical-align: top;
    }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
